doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/Relative.css")
        
    body 
        header
            div.container
                p.logo Aventurate en la selva
                nav
                    a(href="http://127.0.0.1:5500/index.html") Pagina principal
                    
        
        section#actividades 
            div.container       
                h2 Nuestro equipo 
                div.activi
                    div.act
                        h3.color-negroT Ing. Genry Pat
                        p.color-negro Ingeniero en sistemas computacionales con experiencia en codificación, CISCO, diseño e implementacion de bases de datos.                          

                    div.act
                        h3.color-negroT Ing. Yaret Cante
                        p.color-negro Ingeniero en sistemas computacionales con conocimiento en tecnologías de la información  y habilidades en base de datos y redes.

                    div.act
                        h3.color-negroT Ing. Elbar Arceo
                        p.color-negro Ingeniero en sistemas computacionales con conocimiento en tecnologías de la información  y habilidades en base de datos y redes.

                    div.act
                        h3.color-negroT Ing. Carlos Villa
                        p.color-negro Ingeniero en sistemas computacionales con conocimiento en tecnologías de la información  y habilidades en base de datos y redes.