.container{
    max-width: 1100px;
    margin: auto;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media(max-width: 900px){
    #actividades p{
        display: none;
    }
}

@media (min-width: 900px){
    #actividades .container{
        padding: 100px 12px;
    }

    #actividades{
        background-color: rgb(30,30,30);
        color: white;
        text-align: center;
    }

    #actividades .activi{
        display: flex;
        justify-content: center;
    }
    
    #actividades p{
        margin-bottom: 10px;
        margin-top: -10px;
    }
    
    #actividades h2{
        margin-top: 0;
        font-size: 3em;
    }

    #actividades h3{
        margin-top: 160px;
    }

    #actividades .act{
        padding: 50px;
        background-size: 100% 200px;
        background-repeat: no-repeat;
        background-position-y: 0;
        margin: 10px;
        border-radius: 15px;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }


    .act:first-child{
        background-image: url("imagenes-pug/first.jpg");
    }
    
    .act:nth-child(2){
        background-image: url("imagenes-pug/second.jpg");
    }
    
    .act:nth-child(3){
        background-image: url("imagenes-pug/third.jpg");
    }
    
    .act:nth-child(4){
        background-image: url("imagenes-pug/four.jpg");
    }
    

}

@media (min-width: 650px){
        header{
            position: fixed;
            width: 100%;
        }
    
        header .container{
            flex-direction: row;
            justify-content: space-between;
            
        }
    
        header nav{
            flex-direction: row;
            padding-bottom: 0;
            padding-right: 20px;
        }
    
        #hero h1{
            font-size: 5em;
        }
    
        #info-nuestra .container{
            display: flex;
            justify-content: space-evenly;
        }
    
        #info-nuestra h2{
            margin-top: 0px;
        }
    
        footer .container{
            justify-content: flex-end;
        }
    
}